/* Enter your custom styles here */
.sapMLabel {
    color: #ea3c08;
    font-size: 0.875rem;
    font-family: "72","72full",Arial,Helvetica,sans-serif;
    font-weight: normal;
    display: inline-block;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    cursor: text;
}
.sapMIBar-CTX .sapMTitle {
    color: #ef870e;
    text-shadow: none;
}